<br><br>
<div class="col-md-9">
    <div class="offset-md-3">
        <div class="panel-success">
            <div class="alert alert-info">
                <br>
                <h6 class="text-muted font-weight-normal">Somos un equipo de programadores apacionados e innovados por el desarrollo de software.</h6>
                <h6 class="text-muted font-weight-normal">Queremos brindarte información necesaria, útil y con proyecciones significativas de la pandemia Covid-19.</h6>
                <!-- <h5 class="text-muted">Estamos Enfocados en generar informacion </h5> -->
                <ul class="text-muted">Integrantes:
                    <li class="text-info">eliadu90@gmail.com</li>
                    <li class="text-info">dennis.brian.pv@gmail.com</li>
                    <li class="text-info">rychard.gutierrez@gmail.com</li>
                </ul>
            </div>
        </div>
    </div>
</div>