
<div class="">
    <div class="row">
        <div class="col-md-6">
            <app-grafico-barras></app-grafico-barras>
        </div>
        
        <div class="col-md-6">
            <app-grafico-barras-departamentos></app-grafico-barras-departamentos>
        </div>
        
    </div>


    <div class="row">
        <div class="col-md-6">
            <app-grafico-lineas></app-grafico-lineas>
        </div>
        
        <div class="col-md-6">
            <app-grafico-pie></app-grafico-pie>
        </div>
    </div>
</div>