<img src="../../../assets/images/audi.png" alt="" class="img-fluid width:15px">
<form class="text-center border border-light p-5 was-validated" name="formCuestionario" #formCuestionario="ngForm"
    (ngSubmit)="onSaveCuestionario(formCuestionario)">

    <p class="h4 mb-4">AUTOCUESTIONARIO COVID-19</p>

    <div class="form-row mb-4 text-xl-center">
        <div class="col ">
            <label for="tos">¿Estas con tos?</label>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input is-invalid" type="radio" name="tos" id="tos" required
                    [(ngModel)]="this.CuestionarioService.selected.tos" value=1>
                <label class="form-check-label" for="yes">Si</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input is-invalid" type="radio" name="tos" id="tos" required
                    [(ngModel)]="this.CuestionarioService.selected.tos" value=0>
                <label class="form-check-label" for="not">No</label>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-row mb-4 text-xl-center">
        <div class="col">
            <label for="escalofrio">¿Estas con escalofrios?</label>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="escalofrios" id="escalofrios" required
                    [(ngModel)]="this.CuestionarioService.selected.escalofrios" value=1>
                <label class="form-check-label" for="yes">Si</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="escalofrios" id="escalofrios" required
                    [(ngModel)]="this.CuestionarioService.selected.escalofrios" value=0>
                <label class="form-check-label" for="not">No</label>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-row mb-4 text-xl-center">
        <div class="col">
            <label for="escalofrio">¿En este momento o en los dias previos has tenido diarrea?</label>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="diarrea" id="diarrea" required
                    [(ngModel)]="this.CuestionarioService.selected.diarrea" value=1>
                <label class="form-check-label" for="yes">Si</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="diarrea" id="diarrea" required
                    [(ngModel)]="this.CuestionarioService.selected.diarrea" value=0>
                <label class="form-check-label" for="not">No</label>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-row mb-4 text-xl-center">
        <div class="col">
            <label for="escalofrio">¿Tienes dolor de garganta?</label>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="garganta" id="garganta" required
                    [(ngModel)]="this.CuestionarioService.selected.garganta" value=1>
                <label class="form-check-label" for="yes">Si</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="garganta" id="garganta" required
                    [(ngModel)]="this.CuestionarioService.selected.garganta" value=0>
                <label class="form-check-label" for="not">No</label>
            </div>
        </div>
    </div>
    <hr>

    <div class="form-row mb-4 text-xl-center">
        <div class="col">
            <label for="escalofrio">¿Sientes dolor en el cuerpo o malestar general?</label>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="dolorGeneral" id="dolorGeneral" required
                    [(ngModel)]="this.CuestionarioService.selected.dolorGeneral" value=1>
                <label class="form-check-label" for="yes">Si</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="dolorGeneral" id="dolorGeneral" required
                    [(ngModel)]="this.CuestionarioService.selected.dolorGeneral" value=0>
                <label class="form-check-label" for="not">No</label>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-row mb-4 text-xl-center">
        <div class="col">
            <label for="escalofrio">¿Has presentado dolores de cabeza?</label>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="cabeza" id="cabeza" required
                    [(ngModel)]="this.CuestionarioService.selected.cabeza" value=1>
                <label class="form-check-label" for="yes">Si</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="cabeza" id="cabeza" required
                    [(ngModel)]="this.CuestionarioService.selected.cabeza" value=0>
                <label class="form-check-label" for="not">No</label>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-row mb-4 text-xl-center">
        <div class="col">
            <label for="escalofrio">¿Has tenido fiebre? (Para fines correctos mas de 37,8 C)</label>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="fiebre" id="fiebre" required
                    [(ngModel)]="this.CuestionarioService.selected.fiebre" value=1>
                <label class="form-check-label" for="yes">Si</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="fiebre" id="fiebre" required
                    [(ngModel)]="this.CuestionarioService.selected.fiebre" value=0>
                <label class="form-check-label" for="not">No</label>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-row mb-4 text-xl-center">
        <div class="col">
            <label for="escalofrio">¿Has perdido el olfato?</label>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="olfato" id="olfato" required
                    [(ngModel)]="this.CuestionarioService.selected.olfato" value=1>
                <label class="form-check-label" for="yes">Si</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="olfato" id="olfato" required
                    [(ngModel)]="this.CuestionarioService.selected.olfato" value=0>
                <label class="form-check-label" for="not">No</label>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-row mb-4 text-xl-center">
        <div class="col">
            <label for="escalofrio">¿Estas teniendo dificultades para respirar? (Como si te faltara aire al pecho)</label>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="respirar" id="respirar" required
                    [(ngModel)]="this.CuestionarioService.selected.respirar" value=2>
                <label class="form-check-label" for="yes">Si</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="respirar" id="respirar" required
                    [(ngModel)]="this.CuestionarioService.selected.respirar" value=0>
                <label class="form-check-label" for="not">No</label>
            </div>
        </div>
    </div>
    <hr>

    <div class="form-row mb-4 text-xl-center">
        <div class="col">
            <label for="escalofrio">¿Estas experimentando fatiga?</label>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="fatiga" id="fatiga" required
                    [(ngModel)]="this.CuestionarioService.selected.fatiga" value=2>
                <label class="form-check-label" for="yes">Si</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="fatiga" id="fatiga" required
                    [(ngModel)]="this.CuestionarioService.selected.fatiga" value=0>
                <label class="form-check-label" for="not">No</label>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-row mb-4 text-xl-center">
        <div class="col">
            <label for="escalofrio">¿Has viajado en los ultimos 14 dias?</label>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="viajo" id="viajo" required
                    [(ngModel)]="this.CuestionarioService.selected.viajo" value=3>
                <label class="form-check-label" for="yes">Si</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="viajo" id="viajo" required
                    [(ngModel)]="this.CuestionarioService.selected.viajo" value=0>
                <label class="form-check-label" for="not">No</label>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-row mb-4 text-xl-center">
        <div class="col">
            <label for="escalofrio">¿Has viajado o estado en un área afectada por COVID-19?</label>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="estado" id="estado" required
                    [(ngModel)]="this.CuestionarioService.selected.estado" value=3>
                <label class="form-check-label" for="yes">Si</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="estado" id="estado" required
                    [(ngModel)]="this.CuestionarioService.selected.estado" value=0>
                <label class="form-check-label" for="not">No</label>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-row mb-4 text-xl-center">
        <div class="col">
            <label for="escalofrio">¿Has estado en contacto directo o cuidando a algun paciente positivo a
                COVID-19?</label>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="contacto" id="contacto" required
                    [(ngModel)]="this.CuestionarioService.selected.contacto" value=3>
                <label class="form-check-label" for="yes">Si</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="contacto" id="contacto" required
                    [(ngModel)]="this.CuestionarioService.selected.contacto" value=0>
                <label class="form-check-label" for="not">No</label>
            </div>
        </div>
    </div>
    <div class="form-row mb-4 text-xl-center">
        <div class="col">
            <label for="departamento">Departamento:</label>
        </div>
        <div class="col">
            <select name="departamento" class="form-control" required
                [(ngModel)]="this.CuestionarioService.selected.departamento">
                <option selected>Seleccione su departamento</option>
                <option value="laPaz">La Paz</option>
                <option value="Cocha">Cochabamba</option>
                <option value="SantaCruz">Santa Cruz</option>
                <option value="Tarija">Tarija</option>
                <option value="Oruro">Oruro</option>
                <option value="Potosi">Potosi</option>
                <option value="Beni">Beni</option>
                <option value="Pando">Pando</option>
                <option value="Chuquisaxa">Chuquisaca</option>

            </select>
        </div>
    </div>

    <hr>
    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">CALCULAR
        RESULTADO</button>
    <hr>
    <p> SI AUN TIENE DUDAS VUELVA A REALIZAR EL CUESTIONARIO EN 2 DIAS </p>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">{{titulo}} </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3> {{res}}</h3>
                    <h4>{{Recomendacion}}</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</form>
