<form class="text-center border border-light p-5">

    <p class="h4 mb-4">AUTOCUESTIONARIO COVID-19</p>

    <div class="form-row mb-4 text-xl-center">
        <div class="col ">
            <label for="tos">Estas con tos?</label>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                <label class="form-check-label" for="yes">Si</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                <label class="form-check-label" for="not">No</label>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-row mb-4 text-xl-center">
        <div class="col">
            <label for="escalofrio">Estas con escalofrios?</label>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                <label class="form-check-label" for="yes">Si</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                <label class="form-check-label" for="not">No</label>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-row mb-4 text-xl-center">
        <div class="col">
            <label for="escalofrio">En este momento o en los dias previos has tenido diarrea?</label>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                <label class="form-check-label" for="yes">Si</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                <label class="form-check-label" for="not">No</label>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-row mb-4 text-xl-center">
        <div class="col">
            <label for="escalofrio">Tienes dolor de garnanta?</label>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                <label class="form-check-label" for="yes">Si</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                <label class="form-check-label" for="not">No</label>
            </div>
        </div>
    </div>
    <hr>

    <div class="form-row mb-4 text-xl-center">
        <div class="col">
            <label for="escalofrio">Sientes dolor en el cuerpo o malestar general?</label>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                <label class="form-check-label" for="yes">Si</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                <label class="form-check-label" for="not">No</label>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-row mb-4 text-xl-center">
        <div class="col">
            <label for="escalofrio">Has presentado dolores de cabeza?</label>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                <label class="form-check-label" for="yes">Si</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                <label class="form-check-label" for="not">No</label>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-row mb-4 text-xl-center">
        <div class="col">
            <label for="escalofrio">Has tenido fiebre?(Para fines correctos mas de 37,8 C)</label>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                <label class="form-check-label" for="yes">Si</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                <label class="form-check-label" for="not">No</label>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-row mb-4 text-xl-center">
        <div class="col">
            <label for="escalofrio">Has perdido el olfato?</label>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                <label class="form-check-label" for="yes">Si</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                <label class="form-check-label" for="not">No</label>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-row mb-4 text-xl-center">
        <div class="col">
            <label for="escalofrio">Estas teniendo dificultades para respirar?(Como si te faltara aire al pecho)</label>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                <label class="form-check-label" for="yes">Si</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                <label class="form-check-label" for="not">No</label>
            </div>
        </div>
    </div>
    <hr>

    <div class="form-row mb-4 text-xl-center">
        <div class="col">
            <label for="escalofrio">Estas experimentando fatiga?</label>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                <label class="form-check-label" for="yes">Si</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                <label class="form-check-label" for="not">No</label>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-row mb-4 text-xl-center">
        <div class="col">
            <label for="escalofrio">Has viajado en los ultimos 14 dias?</label>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                <label class="form-check-label" for="yes">Si</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                <label class="form-check-label" for="not">No</label>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-row mb-4 text-xl-center">
        <div class="col">
            <label for="escalofrio">Has viajado o estado en un area afectada por COVID-19?</label>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                <label class="form-check-label" for="yes">Si</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                <label class="form-check-label" for="not">No</label>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-row mb-4 text-xl-center">
        <div class="col">
            <label for="escalofrio">Has estado en contacto directo o cuidadndo a algun paciente positivo a COVID-19?</label>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                <label class="form-check-label" for="yes">Si</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                <label class="form-check-label" for="not">No</label>
            </div>
        </div>
    </div>
    <hr>


    <p> SI AUN TIENE DUDAS VUELVA A REALIZAR EL CUESTIONARIO EN 2 DIAS </p>

</form>
