            <div class="chat_window">
                <div class="top_menu">
                    <div class="title">Covid19 Asistent</div>
                </div>

                <ul class="messages">
                    <li *ngFor="let message of messages | async">
                        <div *ngIf="message.sentBy === 'bot'" class="message.left appeared">
                            <div class="mb-3">
                                <div class=" bot">{{message.content}}</div>
                            </div>
                        </div>
                        <div *ngIf="message.sentBy === 'user'" class="message.right appeared">
                            <div class="mb-3">
                                <div class="user">{{message.content}}</div>
                            </div>    
                        </div>
                    </li>
                </ul>

                <div class="bottom_wrapper clearfix">
                    <div class="message_input_wrapper">
                        <input [(ngModel)]="formValue" (keyup.enter)="sendMessage()" class="message_input" placeholder="Escribe una pregunta sobre el covid" />
                    </div>
                    <div class="send_message">
                        <div class="icon">

                        </div>
                        <button (click)="sendMessage()" class="btn btn-success btn-block">Enviar</button>
                    </div>
                </div>
            </div>
            <div class="message_template">
                <li class="message">
                    <div class="avatar">

                    </div>
                    <div class="text_wrapper">
                        <div class="text">
                        </div>
                    </div>
            </li>
        </div>