.title {
    /* color: var(--text-body-primary); */
    font-family: BrowalliaUPC;
    font-size: 300%;
}

.subtitle {
    font-family: 'Montserrat';
    letter-spacing: 16px;
    font-weight: lighter;
    text-transform: uppercase;
}

.head{
    padding: 2em;
    margin: 1em;
}