<div class="head">
    <h3 class="text-center mt-5 title">Cuidados y consejos</h3>
    <p class="text-center subtitle">para la poblacion</p>
</div>

<div class="container">
    <div class="">
        <div *ngFor="let consejo of consejos" class="card-body">
            <img src="../../../assets/images/ide.png" alt="idea" class="img-fluid">
            <h5 class="card-title text-center ">{{consejo.title}}</h5>
            <p class="card-text text-center">{{consejo.content}}</p>
        </div>
    </div>
</div>